<div class="highlight"><pre>
<span class="brkt">(</span><span class="func">defun</span> <span class="func">addorgetitem</span> <span class="brkt">(</span>objCollection strName <span class="func">/</span> objFromCollection<span class="brkt">)</span>
  <span class="brkt">(</span><span class="func">or</span> <span class="brkt">(</span><span class="func">=</span> <span class="brkt">(</span><span class="func">type</span> <span class="brkt">(</span><span class="func">setq</span> objFromCollection
              <span class="brkt">(</span><span class="func">vl-catch-all-apply</span>
            <span class="quot">'</span><span class="func">vla-add</span>
            <span class="brkt">(</span><span class="func">list</span> objCollection strName<span class="brkt">)</span>
              <span class="brkt">)</span>
           <span class="brkt">)</span>
     <span class="brkt">)</span>
     <span class="quot">'</span>VLA-OBJECT
      <span class="brkt">)</span>
      <span class="brkt">(</span><span class="func">=</span> <span class="brkt">(</span><span class="func">type</span> <span class="brkt">(</span><span class="func">setq</span> objFromCollection
              <span class="brkt">(</span><span class="func">vl-catch-all-apply</span>
            <span class="quot">'</span><span class="func">vla-item</span>
            <span class="brkt">(</span><span class="func">list</span> objCollection strName<span class="brkt">)</span>
              <span class="brkt">)</span>
           <span class="brkt">)</span>
     <span class="brkt">)</span>
     <span class="quot">'</span>VLA-OBJECT
      <span class="brkt">)</span>
  <span class="brkt">)</span>
  <span class="brkt">(</span><span class="func">if</span> <span class="brkt">(</span><span class="func">=</span> <span class="brkt">(</span><span class="func">type</span> objFromCollection<span class="brkt">)</span> <span class="quot">'</span>VL-CATCH-ALL-APPLY-ERROR<span class="brkt">)</span>
    <span class="brkt">(</span><span class="func">setq</span> objFromCollection <span class="func">nil</span><span class="brkt">)</span>
    objFromCollection
  <span class="brkt">)</span>
<span class="brkt">)</span>
</pre><a href="#" onclick="selectCode(this); return false;">Select all</a></div>
