<div class="highlight"><pre>
<span class="brkt">(</span><span class="func">defun</span> <span class="func">CollectionNames-&gt;list</span> <span class="brkt">(</span>objCollection <span class="func">/</span> lstNames<span class="brkt">)</span>
  <span class="brkt">(</span><span class="func">vlax-for</span> <span class="func">n</span> objCollection
    <span class="brkt">(</span><span class="func">setq</span> lstNames <span class="brkt">(</span><span class="func">append</span> lstNames <span class="brkt">(</span><span class="func">list</span> <span class="brkt">(</span><span class="func">vla-get-name</span> <span class="func">n</span><span class="brkt">))))</span>
  <span class="brkt">)</span>
<span class="brkt">)</span>
</pre><a href="#" onclick="selectCode(this); return false;">Select all</a></div>
