<div class="highlight"><pre>
<span class="brkt">(</span><span class="func">defun</span> <span class="func">_expandRange</span> <span class="brkt">(</span>lstRange <span class="func">/</span><span class="brkt">)</span>
  <span class="brkt">(</span><span class="func">_expandnumbers</span>
    <span class="brkt">(</span><span class="func">atoi</span> <span class="brkt">(</span><span class="func">car</span> lstRange<span class="brkt">))</span>
    <span class="brkt">(</span><span class="func">atoi</span> <span class="brkt">(</span><span class="func">last</span> lstRange<span class="brkt">))</span>
  <span class="brkt">)</span>
<span class="brkt">)</span>
</pre></div>
