<div class="highlight"><pre>
<span class="brkt">(</span><span class="func">defun</span> <span class="func">NumberString-&gt;ListIntegers</span> <span class="brkt">(</span>strNumbers <span class="func">/</span> <span class="func">lstNumbers</span> <span class="func">lstTemp</span><span class="brkt">)</span>
  <span class="brkt">(</span><span class="func">setq</span> <span class="func">lstTemp</span> <span class="brkt">(</span><span class="func">_explode</span> strNumbers <span class="str">","</span><span class="brkt">))</span>
  <span class="brkt">(</span><span class="func">foreach</span> <span class="func">n</span> <span class="func">lstTemp</span>
    <span class="brkt">(</span><span class="func">if</span>	<span class="brkt">(</span><span class="func">vl-string-search</span> <span class="str">"-"</span> <span class="func">n</span><span class="brkt">)</span>
      <span class="brkt">(</span><span class="func">setq</span> <span class="func">lstNumbers</span>
	     <span class="brkt">(</span><span class="func">append</span> <span class="func">lstNumbers</span> <span class="brkt">(</span>_expandNumberRange <span class="brkt">(</span><span class="func">_explode</span> <span class="func">n</span> <span class="str">"-"</span><span class="brkt">)))</span>
      <span class="brkt">)</span>
      <span class="brkt">(</span><span class="func">setq</span> <span class="func">lstNumbers</span> <span class="brkt">(</span><span class="func">append</span> <span class="func">lstNumbers</span> <span class="brkt">(</span><span class="func">list</span> <span class="brkt">(</span><span class="func">atoi</span> <span class="func">n</span><span class="brkt">))))</span>
    <span class="brkt">)</span>
  <span class="brkt">)</span>
  <span class="brkt">(</span><span class="func">setq</span> <span class="func">lstNumbers</span> <span class="brkt">(</span><span class="func">vl-sort</span> <span class="func">lstNumbers</span> <span class="quot">'</span><span class="func">&lt;</span><span class="brkt">))</span>
<span class="brkt">)</span>
</pre></div>
