<div class="highlight"><pre>
// DCL File to be saved as listboxexample.dcl
// Example courtesy of Lee Mac © <span class="int">2010</span> <span class="brkt">(</span>www.lee-mac.com<span class="brkt">)</span>

lbox : list_box { width <span class="func">=</span> <span class="int">25</span><span class="cmt">; fixed_width = true; alignment = centered; }</span>

AddToPointGroup : dialog { label <span class="func">=</span><span class="str">"Add to Point Group"</span><span class="cmt">; spacer;</span>
  : column {
    : lbox { key <span class="func">=</span> <span class="str">"ePG"</span><span class="cmt">; label = "Make" ; }</span>
    : text { value <span class="func">=</span> <span class="str">"Create Point Group"</span><span class="cmt">; }</span>
    : edit_box {
                allow_accept <span class="func">=</span> true<span class="cmt">;</span>
                width <span class="func">=</span> <span class="int">23</span><span class="cmt">;</span>
                edit_width <span class="func">=</span> <span class="int">23</span><span class="cmt">;</span>
                edit_limit <span class="func">=</span> <span class="int">35</span><span class="cmt">;</span>
                key <span class="func">=</span> <span class="str">"nPG"</span><span class="cmt">;</span>
                mnemonic <span class="func">=</span> <span class="str">"n"</span><span class="cmt">;</span>
                alignment <span class="func">=</span> centered<span class="cmt">;</span>
               }
           }
  ok_cancel <span class="cmt">;</span>
}
</pre></div>
