<div class="highlight"><pre>
<span class="brkt">(</span><span class="func">defun</span> RemoveNumberFromNumberString <span class="brkt">(</span>intNumber strNumbers <span class="func">/</span> lstExpandedNumbers<span class="brkt">)</span>

  <span class="brkt">(</span><span class="func">if</span> <span class="brkt">(</span><span class="func">and</span> <span class="brkt">(</span><span class="func">=</span> <span class="brkt">(</span><span class="func">type</span> intNumber<span class="brkt">)</span> <span class="quot">'</span>INT<span class="brkt">)</span>
	   <span class="brkt">(</span><span class="func">=</span> <span class="brkt">(</span><span class="func">type</span> strNumbers<span class="brkt">)</span> <span class="quot">'</span>STR<span class="brkt">)</span>
      <span class="brkt">)</span>
    <span class="brkt">(</span><span class="func">progn</span>
      <span class="brkt">(</span><span class="func">setq</span> lstNumbers <span class="brkt">(</span>_explode strNumbers <span class="str">","</span><span class="brkt">))</span>
      <span class="brkt">(</span><span class="func">foreach</span> <span class="func">n</span> lstNumbers
	<span class="brkt">(</span><span class="func">if</span> <span class="brkt">(</span><span class="func">vl-string-search</span> <span class="str">"-"</span> <span class="func">n</span><span class="brkt">)</span>
	  <span class="brkt">(</span><span class="func">setq</span> lstTemp <span class="brkt">(</span>_explode <span class="func">n</span> <span class="str">"-"</span><span class="brkt">)</span>
		lstTemp <span class="brkt">(</span>_expandNumbers <span class="brkt">(</span><span class="func">atoi</span> <span class="brkt">(</span><span class="func">car</span> lstTemp<span class="brkt">))(</span><span class="func">atoi</span> <span class="brkt">(</span><span class="func">last</span> lstTemp<span class="brkt">)))</span>
		lstExpandedNumbers <span class="brkt">(</span><span class="func">append</span> lstExpandedNumbers lstTemp<span class="brkt">))</span>
	  <span class="brkt">(</span><span class="func">setq</span> lstExpandedNumbers <span class="brkt">(</span><span class="func">append</span> lstExpandedNumbers <span class="brkt">(</span><span class="func">list</span> <span class="brkt">(</span><span class="func">atoi</span> <span class="func">n</span><span class="brkt">))))</span>
	<span class="brkt">)</span>
      <span class="brkt">)</span>
    <span class="brkt">)</span>
  <span class="brkt">)</span>
  <span class="brkt">(</span>IntegerList-&gt;TextRanges <span class="brkt">(</span><span class="func">vl-remove</span> intNumber lstExpandedNumbers<span class="brkt">))</span>
<span class="brkt">)</span>
</pre><a href="#" onclick="selectCode(this); return false;">Select all</a></div>
